<h3>Adicionar usuários</h3>
<%= form_tag ('/projetos/'+@projeto.id+'/adduser') do%>
	<fieldset class="dropToken">
	    <%= text_field_tag :users_id %>
	    <%= submit_tag "Add usuários", :class=>"botao" %>
	</fieldset>
<% end %>	